.reveal p {
  font-size: 80%;
}

.reveal th {
  font-size: 85%;
}

.reveal td {
  font-size: 70%;
}

.reveal li {
  font-size: 80%;
  padding-bottom: 8px;
}

.reveal .slides section {
  text-align: left;
}

#title-footer #notification {
  font-size: 70%;
}
